# -------------------------------
# MapProxy example configuration.
# -------------------------------
#
# This is a minimal MapProxy configuration.
# See full_example.yaml and the documentation for more options.
#

# Starts the following services:
# Demo:
#     http://localhost:8080/demo
# WMS:
#     capabilities: http://localhost:8080/service?REQUEST=GetCapabilities
# WMTS:
#     capabilities: http://localhost:8080/wmts/1.0.0/WMTSCapabilities.xml
#     first tile: http://localhost:8080/wmts/osm/webmercator/0/0/0.png
# Tile service (compatible with OSM/etc.)
#     first tile: http://localhost:8080/tiles/osm/webmercator/0/0/0.png
# TMS:
#     note: TMS is not compatible with OSM/Google Maps/etc.
#     fist tile: http://localhost:8080/tms/1.0.0/osm/webmercator/0/0/0.png
# KML:
#     initial doc: http://localhost:8080/kml/osm/webmercator

services:
  demo:
  tms:
    use_grid_names: true
    # origin for /tiles service
    origin: 'nw'
  kml:
      use_grid_names: true
  wmts:
  wms:
    md:
      title: MapProxy WMS Proxy
      abstract: This is a minimal MapProxy example.

layers:
  - name: espoo_opas
    title: Espoo Opaskarta
    sources: ['espoo_opas_cache']
  - name: espoo_orto
    title: Espoo Ortokarta
    sources: ['espoo_orto_cache']

caches:
  espoo_opas_cache:
    grids: [webmercator]
    sources: ['espoo_wms:Opaskartta']
  espoo_orto_cache:
    grids: [webmercator]
    sources: ['espoo_wms:Ortokartta_HSY-alue']

sources:
  espoo_wms:
    type: wms
    req:
      url: $wms_url
      layers: Opaskartta,Ortokartta_HSY-alue
    supported_srs: ['EPSG:4326']
    coverage:
      bbox: [24.48, 60.05, 24.87, 60.38]
      srs: 'EPSG:4326'

grids:
    geodetic:
        base: GLOBAL_GEODETIC
        tile_size: [256, 256]
        bbox: [-180, -90, 180, 90]
        bbox_srs: 'EPSG:4326'
    webmercator:
        base: GLOBAL_WEBMERCATOR

globals:
    image:
        jpeg_quality: 60